body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #f0f0f0;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color:blue;
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: red;
    font-weight: normal;
    line-height: 2;
}

h3{
    color: #11999E;
}

hr{
    border: dotted;
    border-bottom: none;
    width: 6%;
    border-color: grey;
    border-width: 20px;
}

a{
    color:black;
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: white;
}
.intro{
    margin-bottom: 100px;
}
.top-container{
    background-color: #E4F9F5;
    padding-top: 100px;
    
}

.profile-image {
    max-width: 200px; /* Adjust the value as needed */
    height: auto; /* Maintain aspect ratio */
}
.job-title {
    margin-top: -80px; /* Adjust the value to move it upward */
}


.top-cloud{
    position:relative;
    left:300px;
    top: 30px;
   
}

.bottom-container{
    padding-top: 50px;
    padding-bottom: 30px;
    background-color:#E4F9F5;
    margin-top: 40px;
}

.bottom-cloud{
    position:absolute;
   
}

.programmer{
    height: 300px;
    width: 300px;
    line-height: normal;
    padding-top: 50px;
}

.monitor-pic{
    height: 200px;
    width: 200px;
    float: right;
    margin-left: 30px;
}

.computer-pic{
    height: 200px;
    width:200px;
    float: left;
    margin-right: 30px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-intro{
    margin-top: 100px;
}

.button {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 14px;
    line-height: 14px;
    color: #FFFFFF;
    font-family: Arial;
    width: 135px;
    font-size: 20px;
    font-weight: 200;
    padding: 23px;
    text-shadow: 3px 1px 20px #000000;
    border: solid #000000 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .button:hover {
    border: solid #FFFFFF 0;
    background: #1ED0D0;
    background-image: -webkit-linear-gradient(top, #1ED0D0, #5DF63D);
    background-image: -moz-linear-gradient(top, #1ED0D0, #5DF63D);
    background-image: -ms-linear-gradient(top, #1ED0D0, #5DF63D);
    background-image: -o-linear-gradient(top, #1ED0D0, #5DF63D);
    background-image: -webkit-gradient(to bottom, #1ED0D0, #5DF63D);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }

 .copyright{
     color: black;
     
     font-size: 25px;
 }